.emojiLine {
  width: 600px;
  display: flex;
  gap: 20px;
  background-color: rgb(14, 101, 101);
  border-radius: 5px;
  border: solid rgb(10, 74, 74);
  padding: 10px;
  line-height: 5px;
  margin: 5px;
}
